@CHARSET "UTF-8";

 body {
	font-family: 'Arial';	
	background: url("/webengproject/javax.faces.resource/website-sprites/white2.jpg.xhtml");
	background-repeat: repeat;
}

 
 a{
 	color: #4682B4;
 	text-decoration: none;
 }
 
 a:HOVER{
	color: #FF6347;
}

.menuebar{
	border-color: #000;
}

div{
}

#emailMessage, #pwMessage, .errormessage {
	color: red;
	padding: 5px 0 20px 0;
}

form {
    display: table;
    width: 100%;
    box-shadow: 0px -1px 0px 0px grey, 0px 1px 0px 0px grey;
    margin: 5px 0;
    background: rgb(255,255,255);
}

form div {
    display: table-row;
}

form button {
	display: table-row;
}

form label {
    display: table-cell;
    width: auto;
    padding: 0 10px 0 0;
}

input {
    display: table-cell;
    margin: 5px 0;
}

#j_id_l input{
    margin-right: 5px;
}

input[value="Ausloggen"] {
    margin-left: 35%;
}

.Ueberschrift {
	font-weight: bold;
}

.divForm {	
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    width: 275px;
}

#login {
	margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

#nav {
    font-size: 135%;
    top: -22px;
    left: -8px;
    width: 100%;
    height: 50px;
    position: absolute;
    background-color:  rgb(222, 222, 222);
}

#nav a {
    padding-left: 1em;
    padding-right: 1em;
    margin: -2px;
    background-color:  rgb(222, 222, 222);
    text-decoration: none;
    font-variant: small-caps;
    transition-duration: 0.25s;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#nav a:hover {
    color: white;
}

#menuebar {
    background-color:  rgb(222, 222, 222);
    width: 200px;
    float: left;
    display: inline-block;
    margin: -4px 10px 10px 0;
}

.products tbody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.products tbody img {
    border-style: solid;
    border-color: grey;
    border-width: thin;
}

.products td {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 8px;
}

.products a, .products label {
    text-align: center;
}

#suchanfrage img {
    border-style: solid;
    border-color: grey;
    border-width: thin;
    margin-right: 5px;
}

.product-image img {
    float: left;
    display: inline-block;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    margin-left: 25%;
    margin-right: 10px;
}

.transaction td{
    border-top: solid;
    border-width: thin;
    border-color: gray;
}

#j_id_15 {
    margin-left: 200px;
    width: 500px;
}

#j_id_15 td, #j_id_15 th{
    border-bottom: solid;
    border-width: thin;
    border-color: gray;
}

.add {
    width: 200px;
    border: outset;
    border-width: thin;
    background-color: white;
}

.add :hover {
    border: inset;
    border-width: thin;
}

@media screen and (max-width: 1300px) {
    #update {
        position: static;
        transform: translate(0, 0);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 850px) {
    .product-image img {
        margin-left: auto;
    }
}