@CHARSET "UTF-8";

 body {
	font-family: 'Arial';	
	background: url("#{resource['website-sprites/white2.jpg']}");
	background-repeat: repeat;
}

 
 a{
 	color: #4682B4;
 	text-decoration: none;
 }
 
 a:HOVER{
	color: #FF6347;
}

 a:VISITED {
	color: #008080;
}

.menuebar{
	border-color: #000;
}

div{
	background: white;
}

#emailMessage, #pwMessage, .errormessage {
	color: red;
}